<div class="host-wrapper d-flex">
  <div class="flex-column holder justify-content-between p-4">
    <div class="d-flex flex-column justify-content-start">
      <div *ngIf="!companyService.getList.length" class="no-companies">
        <span>No Companies Found</span>
      </div>
      <div class="top-buttons-wrapper p-2 mb-4">
        <div class="d-flex flex-column justify-content-between">
          <button class="btn btn-primary mb-2" (click)="openAddModal()">Add new Company</button>
        </div>
        <div *ngIf="companyService.getList.length" class="d-flex justify-content-between">
          <button class="btn btn-primary" (click)="removeEnds(true)">Remove First</button>
          <button class="btn btn-primary" *ngIf="companyService.getList.length" (click)="sortListByName()">Sort By Name</button>
          <button class="btn btn-primary" (click)="removeEnds()">Remove End</button>
        </div>
      </div>
      <input *ngIf="companyService.getList.length" placeholder="Search..." class="search-input mb-2" [(ngModel)]="filter">
      <div class="repeat-wrapper">
        <div class="d-flex test w-100" [@anim]="companyService.getList" *ngFor="let company of companyService.getList | filterPipe: filter">
          <div class="d-flex custom-row justify-content-between w-100 p-2">
            <span class="w-100">{{ company.companyName }}</span>
            <span class="w-100">{{ company.sector }}</span>
            <span class="w-100">{{ company.creationDay }}</span>
            <span class="w-100">{{ company.country }}</span>
            <span class="w-100">{{ company.customers }}</span>
            <span class="w-100">{{ company.active }}</span>
            <div class="d-flex justify-content-between align-items-center">
              <button class="btn btn-primary mr-2" (click)="openEdit(company)">
                <span>{{ company.isEditing ? 'Confirm' : 'Edit' }}</span>
              </button>
              <button class="btn btn-primary" (click)="removeCompany(company)">
                remove
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
