<div class="host-wrapper">
  <div class="flexer flex-column holder">


      <button *ngIf="localCompanies.length" (click)="sortListByName()">Sort By Name</button>

      <!-- container for outer directive, as only one allowed. Wraps it up -->
      <ng-container *ngIf="localCompanies.length">

        <div class="flexer company-margin" *ngFor="let company of localCompanies">

          <div class="flexer flex-column custom">
            <input class="text-input" (ngModelChange)="isValid($event, company, 'companyName')"
                   [disabled]="!company.isEditing" [ngModel]="company.companyName" value="{{ company.companyName }}">

            <input class="text-input" (ngModelChange)="isValid($event, company, 'sector')"
                   [disabled]="!company.isEditing" [ngModel]="company.sector" value="{{ company.sector }}">

            <input class="text-input" (ngModelChange)="isValid($event, company, 'creationDay')"
                   [disabled]="!company.isEditing" [ngModel]="company.creationDay" value="{{ company.creationDay }}">

            <input class="text-input" (ngModelChange)="isValid($event, company, 'country')"
                   [disabled]="!company.isEditing" [ngModel]="company.country" value="{{ company.country }}">

            <input class="text-input" (ngModelChange)="isValid($event, company, 'customers')"
                   [disabled]="!company.isEditing" [ngModel]="company.customers" value="{{ company.customers}}">

            <input class="text-input" (ngModelChange)="isValid($event, company, 'active')"
                   [disabled]="!company.isEditing" [ngModel]="company.active" value="{{ company.active }}">

            <div class="button-wrapper pt">
              <button (click)="removeCompany(company)">
                remove
              </button>

              <button (click)="openEdit(company)(company)">
                <span>{{ company.isEditing ? 'Confirm' : 'Edit' }}</span>
              </button>
            </div>
          </div>

        </div>
      </ng-container>

      <div class="add-wrapper">
        <button (click)="displayAddInputs = !displayAddInputs">Add new Company</button>
      </div>

      <div *ngIf="displayAddInputs">

        <form [formGroup]="companyForm" class="add-wrapper" (ngSubmit)="addCompany()">

          <label>Company Name: </label>
          <input placeholder="Name" formControlName="companyName">

          <label>Company sector: </label>
          <input placeholder="Sector" formControlName="sector">

          <label>Company creation day: </label>
          <input placeholder="Creation Day" formControlName="creationDay">

          <label>Company country: </label>
          <input placeholder="Country" formControlName="country">

          <label>Company customers: </label>
          <input type='number' placeholder="Customer" formControlName="customers">

          <label>Company active: </label>
          <input placeholder="Active" formControlName="active">

        </form>

        <div class="flexer add-confirms ends-buttons">
          <button (click)="closeAdd()">Close</button>
          <button [disabled]="!companyForm.valid" (click)="addCompany()">Confirm</button>
        </div>
      </div>

      <!-- only to display when no companies are found -->
      <div *ngIf="!localCompanies.length" class="no-companies">
        <span>No Companies Found</span>
      </div>

      <!-- only to display whenthere are companies to remove -->
      <div *ngIf="localCompanies.length" class="ends-buttons pt">
        <button (click)="removeEnds(true)">Remove First</button>
        <button (click)="removeEnds()">Remove End</button>
      </div>
    </div>

</div>
