@import "~bootstrap/dist/css/bootstrap.css";

body {
  margin: 0;
  padding: 0;

  height: 100%;
  display: flex;

  align-items: stretch;
  align-content: stretch;

  flex-direction: column;
}

html {
  height: 100%;
}

app-root {
  order: 0;
  display: block;

  flex: 1 1 auto;
  align-self: auto;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #b6b6b6;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
